@media (max-width: 615px) {
  @import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

  /* homepage */

  .App {
    font-family: sans-serif;
    text-align: center;
    margin: 0px;
    color: white;
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  html {
    background-color: black;
  }

  body {
    margin: 0px;
  }

  .car-image {
    position: relative;
    text-align: center;
  }

  .car {
    width: 100%;
    position: relative;
    animation: fadeInLeft 5s;
  }

  /* Centered text */
  .centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 0, 0.295); */
    padding: 20px;
    font-weight: 500;
    font-size: 20px;
    text-align: left;
  }

  .one {
    top: 9% !important;
    left: 96% !important;
    animation: mymove2 3s;
    width: 200px;
  }

  .two {
    top: 15% !important;
    left: 53%;
    animation: mymove2 4s;
    width: 200px;
  }

  .three {
    top: 20% !important;
    left: 75% !important;
    animation: mymove2 3s;
    width: 200px;
  }

  .four {
    top: 23% !important;
    left: 57% !important;
    animation: mymove2 3s;
    width: 100%;
    font-size: 20px;
  }

  .five {
    top: 21% !important;
    left: 84% !important;
    animation: mymove2 3s;
    width: 200px;
  }

  .top-right {
    position: absolute;
    top: 8px;
    right: 16px;
  }

  @keyframes mymove {
    from {
      top: -50px;
    }
    to {
      top: 0px;
    }
  }

  @keyframes mymove2 {
    from {
      left: 50%;
      opacity: 0;
    }
    to {
      right: 73%;
      opacity: 1;
    }
  }

  .fade-in-section {
    opacity: 0;
    transform: translateY(10vh);
    visibility: hidden;
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    will-change: opacity, visibility;
  }
  .fade-in-section.is-visible {
    opacity: 1;
    transform: none;
    visibility: visible;
  }

  /* Navbar */

  .navbar-container {
    display: none;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
  }

  .logo {
    width: 100px;
    margin-left: 0px;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    animation: mymove 3s;
  }

  .link {
    display: none;
    margin: 10px 25px;
    font-weight: 20;
    font-size: 20px;
    transition: ease-in-out 0.2s;
    color: lightcyan;
  }

  .link:hover {
    color: gray;
  }

  /* hamburger */

  .burger-container {
    display: flex;
    height: 80px;
    background-image: url("https://images.unsplash.com/photo-1483728642387-6c3bdd6c93e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80");
  }

  .hamburger-logo {
    width: 80px;
    margin-left: 95px;
    filter: brightness(175%);
  }

  .menuToggle {
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    margin: 27px 0px;
  }

  .menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
  }

  .menuToggle span {
    display: block;
    width: 32px;
    height: 4px;
    margin-bottom: 5px;
    margin-left: 20px;
    position: relative;
    background: white;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  .menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  .menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }

  .menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: white;
  }

  .menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .menu {
    position: absolute;
    width: 300px;
    height: auto;
    margin: -45px 0 0 -10px;
    padding: 50px 0px 10px 0px;
    background: rgba(0, 0, 0, 0.61);
    border-radius: 5px;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
    box-shadow: 18px 17px 26px -12px rgba(0, 0, 0, 0.75);
  }

  .line {
    color: white;
    height: 42px;
    transform: rotate(-45deg);
  }

  .letter-button {
    margin: 0px;
    outline: none;
    padding: 10px;
    width: 100%;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    border-right: none;
    border-radius: 0px;
    font-size: 1.2em;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }

  .letter-button:hover {
    outline: none;
    width: 100%;
    color: white;
    background: gray;
    border: 1px solid white;
    font-size: 1.2em;
    margin: 0px;
  }

  .menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  .menuToggle input:checked ~ ul {
    transform: none;
  }
}
