@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
  color: white;
  font-family: "Roboto", sans-serif;
}

html {
  background-color: black;
}

body {
  margin: 0px;
}

.car-image {
  position: relative;
  text-align: center;
}

.car {
  width: 100%;
  position: relative;
  animation: fadeInLeft 3s;
}

/* Centered text */
.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: rgba(0, 0, 0, 0.295); */
  padding: 20px;
  font-weight: 500;
  font-size: 3em;
  text-align: left;
}

.one {
  top: 10%;
  left: 73%;
  animation: mymove2 3s;
  width: 200px;
}

.two {
  top: 15%;
  left: 30%;
  animation: mymove2 3s;
  width: 200px;
}

.three {
  top: 15%;
  left: 75%;
  animation: mymove2 3s;
  width: 200px;
}

.four {
  top: 25%;
  left: 98%;
  animation: mymove2 3s;
  width: 2000px;
  font-size: 2.5em;
}

.five {
  top: 25%;
  left: 70%;
  animation: mymove2 3s;
  width: 200px;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  animation: mymove 3s;
}

@keyframes mymove {
  from {
    top: -50px;
  }
  to {
    top: 0px;
  }
}

@keyframes mymove2 {
  from {
    left: 50%;
    opacity: 0;
  }
  to {
    right: 73%;
    opacity: 1;
  }
}

.link {
  margin: 0px 25px;
  font-weight: 20;
  font-size: 15px;
  transition: ease-in-out 0.2s;
}

.link:hover {
  color: gray;
}

.logo {
  width: 100px;
  margin-left: 20px;
}

.fade-in-section {
  opacity: 0;
  transform: translateY(10vh);
  visibility: hidden;
  transition: opacity 1s ease-out, transform 1.5s ease-out;
  will-change: opacity, visibility;
}
.fade-in-section.is-visible {
  opacity: 1;
  transform: none;
  visibility: visible;
}
